.onboarding-age-slider {
  margin-top: 45px;
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px;
}

.onboarding-budget-pricing-inputs {
  margin-top: 20px;
  display: flex;
}

.onboarding-budget-pricing-input-2 {
  margin-left: 20px !important;
}
