body {
    margin: 0;
}

:root {
    --primary-purple: #957af6;
    --secondary-blue: #6985e6;
    --accent-purple: #eaedfd;
}

.MuiButton-containedPrimary {
    background-color: var(--secondary-blue) !important;
}